body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.calculator {
  max-width: 600px;
  padding: 15px;
  background-color: #cee5f2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 4px 8px;
}

.monitor-box {
  color: white;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#monitor {
  margin: 0;
  font-size: 30px;
}

.btn-area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.btn {
  height: 50px;
  font-size: 26px;
  border-radius: 5px;
  color: black;
  background-color: #61b0e2;
  border: none;
  box-shadow: 0 5px #369ada;
}

.btn:active {
  box-shadow: none;
  transform: translate(0, 5px);
}

.large-btn-A {
  grid-column: 1 / 3;
}

.large-btn-B {
  grid-column: 3 / 5;
}